
h1 {
    background-color: aquamarine;
    color: chocolate;
    font-size:larger;
    text-align: center;
}
p {
    background-color: coral;
    color: blue;
    font-size: medium;
    text-align: justify;
} 
